.login{
    margin-left: 15%;
    justify-self: center;
    align-self: center;
    margin-top: 50px;
   width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}



.ErrorMessage{
    color: aliceblue;
    border-radius: 7px;
    background-color: rgba(252, 7, 7, 0.714);

}