
.flex {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 110px;
}


.MyProfileImg {
    /* margin-top: 35px; */
    width: 200px;
    height: 200px;
    border-radius: 55%;
    background-size: cover;
}

#wrapper {
    margin-top: 35px;
    padding: 0px;
    text-align: center;
    margin-right: 16px;
}

#wrapper h1 {
    margin-top: 150px;
    font-size: 55px;
    color: #0489B1;
}

#wrapper h1 a {
    color: #0489B1;
    font-size: 18px;
}

#image_div .img_wrapper {
    width: 180px;
    position: relative;
    display: inline-block;
}

#image_div .img_wrapper img {
    width: 100%;
}

#image_div .img_wrapper:hover img {
    -webkit-filter: blur(1.7px);
}

#image_div .img_wrapper span {
    margin-top: 35px;
    display: none;
    position: absolute;
    top: 40px;
    left: 30px;
}

#image_div .img_wrapper:hover span {
    display: table-cell;
}

#image_div .img_wrapper span input[type="button"] {
    width: 120px;
    height: 40px;
    border-radius: 18px;
    background-color: #28515f;
    border: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 17px;
}

.userData{
    margin-left: 70px;
    padding-top: 60px;
    display: grid;
    flex-direction: column;
    align-content: space-evenly;
    justify-content: start;
    align-items: end;
}


@media screen and (max-width: 818px) {
    #wrapper{

        margin-left: 120px;
    }
    
  }