* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body::before {
  display: block;
  content: "";
  height: 90px;
}
body {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  background-color: #f0f0f0;
}
.list-filter:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}
button:active {
  scale: 98%;
}
.title-name {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid black;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.title-name span {
  background: #f0f0f0;
  padding: 0 10px;
}
.log-box {
  background-image: url("https://images.unsplash.com/photo-1681819670843-28ece64f1929?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
}
img:hover {
  cursor: pointer;
}
